NODE_ENV=production
STAFF_PAYROLL_API_URL=http://127.0.0.1:8001
NEXT_PUBLIC_OPERATIONS_APP_URL=https://operations.hiddenoasis.app
NEXT_PUBLIC_POS_APP_URL=https://pos.hiddenoasis.app
NEXT_PUBLIC_ACCOUNTING_APP_URL=https://accounting.hiddenoasis.app
